body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #6c1eac;
    height: 100vh;
    width: auto;
    color: white;
    padding: 70px 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.navbar_items {
    display: flex;
}

.navbar_items_item {
    margin: 0 30px;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.4s;
    border-radius: 4px;
}

.navbar_items_item:hover {
    background-color: #808080a1;
    text-decoration: underline;
}

.header_title {
    text-align: center;
    font-size: 2rem;
    max-width: 730px;
    margin: 130px auto 0 auto;
    line-height: 40px;
}

.header_btn {
    text-align: center;
    /* margin: 30px 20px; */
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: tomato;
    max-width: 200px;
    margin: 30px auto;
    padding: 18px;
    border-radius: 7px;
}

.services {
    background: darkseagreen;
    /* background-color: #6c1eac; */
    height: 100vh;
    width: auto;
    color: white;
    padding: 70px 200px;
}

p.services_title {
    text-align: center;
}

p.services_subtitle {
    text-align: center;
    margin: 40px;
}

form.contact_form_wrapper {
}

section.contact {
    background-color: royalblue;
    height: 100vh;
    width: auto;
    color: white;
    padding: 70px 200px;
    display: flex;
    justify-content: center;
}

.services_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_list_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 50px;
}

p.contact_title {
    text-align: center;
}

p.contact_subtitle {
    text-align: center;
}

form.contact_form_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input[type="text"], input[type="email"] {
    width: 350px;
    margin: 10px 0;
    height: 33px;
    padding: 0 20px;
}

input[type="submit"] {
    width: 180px;
    border: 0;
    background: tomato;
    margin: 40px auto;
    padding: 10px;
}

p.services_list_title {
    margin: 20px;
    font-weight: bold;
}

footer.footer_items {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.footer_item {
    margin: 0 30px;
    text-decoration: none;
}
